**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env
.idea/
node_modules/
staticfiles/
package-lock.json
bundle.js
bundle.js.LICENSE.txt
