{% extends '../base.html' %}
{% block title%}Flight booking{% endblock %}
{% block content %}

<div class="row">
    <h2 class="col-12 text-center mb-3">{{ flight.start_location }} - {{ flight.end_location }}</h2>
    <h4 class="col-12 text-center mb-3">{{ flight.start_date }} {{ flight.start_time }} - {{ flight.end_date }} {{ flight.end_time }}</h4>

    <form id="form-app" class="row col-12" action="{% url 'main:book_ticket' slug_info passenger_number %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-danger">
            <strong>Oops! There was an error.</strong>
            <p>{{ error }}</p>
    </div>
        {% endif %}
        <div data-passengers="{{ passenger_number }}" data-slug="{{ slug_info }}"  id="BookFlightForm">
        </div>
    </form>
</div>

{% endblock %}
