{% extends '../base.html' %}
{% block title%}Cancel payment{% endblock %}
{% block content %}

<p>
  We're sorry to hear that your payment could not be processed.
If you encountered any issues during the payment process, please try again later .
We apologize for any inconvenience this may have caused.

If you have decided to cancel your purchase, we understand and hope that you will consider us for any future needs.
We value your business and look forward to the opportunity to serve you in the future.

Thank you for considering us for your purchase.
</p>
<a href="{% url 'main:index' %}">Back to booking tickets</a>
{% endblock %}