{% extends '../base.html' %}
{% block title%}Profile{% endblock %}
{% block content %}
<p> {{first_name}} {{ last_name }} </p>
<p>{{ email }}</p>
<a class="btn btn-info" href="{% url 'main:user_flights' 'all_flights' %}">See all your flights</a>
<a class="btn btn-info" href="{% url 'main:user_flights' 'future_flights' %}">See your future flights</a>
<div class="flights pt-3">
    {% for ticket in tickets %}
    <div class="row flight border border-info w-50 p-3 mb-3">
        <h3 class="col-12 text-center ticket_destination">{{ ticket.from }} - {{ ticket.to }}</h3>
        <h4 class="col-12 text-center ticket_date">{{ ticket.start_time }} {{ ticket.start_date }} - {{ ticket.end_time }} {{ ticket.end_date }}</h4>
        <p class="ticket_seat">Seat - {{ ticket.seat }}</p>
        <p class="ticket_seat_type">Seat Type - {{ ticket.seat_type }}</p>
        {% if ticket.options %}
        <h4 class="col-12 text-center">Options</h4>
        {% for option in ticket.options %}
        <div class="ticket_options">
            <div class="option">
                <p class="option_name">{{ option.name }}</p>
                <p class="option_description">{{ option.description }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
</div>
<a class="btn btn-danger mt-3" href="{% url 'main:logout' %}">Logout</a>
{% endblock %}
