{% extends '../base.html' %}
{% block title%} Registration  {% endblock %}
{% block content %}
<form class='row d-flex flex-column align-items-center' action="{% url 'main:registration' %}" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    <div class="col-xl-3 col-lg-8 col-sm-12 email-error">
    {% for error in form.email.errors %}
        <p class="text-danger">{{ error }}</p>
    {% endfor %}
    </div>
{% endif %}
  {{ form.email }}
  {{ form.first_name }}
  {{ form.last_name }}

    {% if form.password1.errors %}
      <div class="col-xl-3 col-lg-8 col-sm-12 email-error">
      {% for error in form.password1.errors %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {{ form.password1 }}
      {% if form.password2.errors %}
    <div class="col-xl-3 col-lg-8 col-sm-12 email-error">
    {% for error in form.password2.errors %}
        <p class="text-danger">{{ error }}</p>
    {% endfor %}
    </div>
{% endif %}
  {{ form.password2 }}

  <button class="col-xl-3 col-lg-8 col-sm-12 btn btn-success btn-lg mb-3" type="submit">Sign Up</button>
  <p class="col-xl-3 col-lg-8 col-sm-12">Have an account? <a class="btn btn btn-primary" href="{% url 'main:login' %}">Log in</a></p>
</form>

{% endblock %}
